* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* Header element was set to display inline, with modifications to width and padding.  In addition,
fixed position was added to facilitate user navigation, since the listed example didn't list one way or another
about whether the navigation bar was fixed or fluid. */
.header {    
    position: fixed; 
    display: inline;
    width: 100%;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Changed the display to inline, instead of inline-block. */
.header h1 {
    display: inline;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}
/* Set the display to inline, and the float to inline-end vs the original float right. */
.header nav{
    display: inline;
    padding-top: 15px;
    margin-right: 20px;
    float: inline-end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}
/* Added a float: right. */
.header nav ul {
    list-style-type: none;
    float: right;
}

.header nav ul li {
    display: inline-block;    
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* Background image size was modified to better fit after the other modifications. */
.hero {
    height: 2000px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* The following benefits class modifications belong to the modification of the aside element.   */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* The following benefits class modifications belong to the modification an element inside the aside element. */

.benefits section{
    margin-bottom: 32px;
    color: #ffffff;
}

/* The following benefits class modifications belong to the modification an element inside the aside element. */

.benefits section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* The following benefits class modifications belong to the modification an element inside the aside element. */

.benefits section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* A modification of the article elements inside of the content class.  Instead of multiple classes for each individual
element in the section containing content for the user, the section was given the content class, and the following related
sections consolidate modifications so that they can be applied to features in the content class area without having to 
use unique classes for each new segment. */
.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* A modification of img elements inside of articles inside of the content class.*/
.content article img {
    max-height: 200px;
}

/* A modification of the h2 elements inside of the article elements in the content class. */
.content article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Nothing was changed for the footer class since it was just adopted as-is. */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
